<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
  </head>

  <body>
    <div class="wrapper">
      <div id="app">
        <input type="checkbox" placeholder="show" v-model="imgShow" />
        <input type="text" placeholder="title" v-model="title" />
        <input type="text" placeholder="img" v-model="imgUrl" />

        <br />
        <div v-if="imgShow">
          <img @click="changeImg" :src="imgUrl" :alt="title" :title="title" />
        </div>
      </div>
    </div>

    <script>
      const App = {
        data() {
          return {
            title: 'city',
            imgUrl: './img/1.jpg',
            imgShow: true,
          };
        },
        methods: {
          changeImg() {
            const images = ['./img/1.jpg', './img/2.jpg'];
            this.imgUrl = images[Math.floor(Math.random() * images.length)];
          },
        },
        computed: {},
      };

      Vue.createApp(App).mount('#app');
    </script>
  </body>
</html>
